{
     title = About;
     items = (
          {
               cell = PSGroupCell;
               condensed = true;
               headerCellClass = HBPackageNameHeaderCell;
               icon = PowerDownEnhancerPrefs.png;
               packageIdentifier = com.aehmlo.powerdownenhancer2;
          },
          {
               cell = PSGroupCell;
          },
          {
               cell = PSButtonCell;
               action = hb_sendSupportEmail;
               label = "Email Support";
          },
          {
               cell = PSButtonCell;
               action = hb_openDonate;
               label = "Donate";
          },
          {
               cell = PSGroupCell;
          },
          {
               cell = PSLinkCell;
               label = Credits;
               detail = ALPDCreditsListController;
               isController = true;
          },
          	{
				cell = PSGroupCell;
				footerText = "The misfits. The rebels. The troublemakers.";
			}
     );
}
